fastapi
uvicorn[standard]
aiogram
requests
sqlalchemy
aiosqlite
pydantic
python-dotenv
gspread
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
apscheduler
aiofiles
pytz
tzdata
